body {
  font-family: "Lato", sans-serif;
  background-color: lightblue;
}

/*title*/
.container1 {
  width: 500px;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  color: rgb(19, 19, 128);
}

.container1 h1 {
  font-size: 2rem;
  text-align: center;
}

/*calculator*/
.container2 {
  width: 500px;
  height: 520px;
  background-color: rgb(27, 27, 144);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  padding: 20px 30px 0px 50px;
  border-radius: 50px;
}

input {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 20px;
}
